<div class="container-fluid text-center mt-2">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h2>Star Citizen Mining Calculator</h2>

      <form action="">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Total Mass</span>
          </div>
          <input type="number" step="any" class="form-control" placeholder="Total Mass" aria-label="Mass"
            aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Mineral 1</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" required>
            <option>Select...</option>
            <option value="Bex">Bexalite</option>
            <option value="Tar">Taranite</option>
            <option value="Bor">Borase</option>
            <option value="Lar">Laranite</option>
            <option value="Agri">Agricium</option>
            <option value="Heph">Hephaestanite</option>
            <option value="Tita">Titanium</option>
            <option value="Dia">Diamond</option>
            <option value="Gold">Gold</option>
            <option value="Cop">Copper</option>
            <option value="Ber">Beryl</option>
            <option value="Tun">Tungsten</option>
            <option value="Cor">Corundum</option>
            <option value="Qua">Quartz</option>
            <option value="Alu">Aluminum</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text">Percent</span>
          </div>
          <input type="number" step="any" min="0" max="100" class="form-control" placeholder="Enter a percentage..."
            aria-label="Mass" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Mineral 2</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option>Select...</option>
            <option value="Bex">Bexalite</option>
            <option value="Tar">Taranite</option>
            <option value="Bor">Borase</option>
            <option value="Lar">Laranite</option>
            <option value="Agri">Agricium</option>
            <option value="Heph">Hephaestanite</option>
            <option value="Tita">Titanium</option>
            <option value="Dia">Diamond</option>
            <option value="Gold">Gold</option>
            <option value="Cop">Copper</option>
            <option value="Ber">Beryl</option>
            <option value="Tun">Tungsten</option>
            <option value="Cor">Corundum</option>
            <option value="Qua">Quartz</option>
            <option value="Alu">Aluminum</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text">Percent</span>
          </div>
          <input type="number" step="any" min="0" max="100" class="form-control" placeholder="Enter a percentage..."
            aria-label="Mass" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Mineral 3</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option>Select...</option>
            <option value="Bex">Bexalite</option>
            <option value="Tar">Taranite</option>
            <option value="Bor">Borase</option>
            <option value="Lar">Laranite</option>
            <option value="Agri">Agricium</option>
            <option value="Heph">Hephaestanite</option>
            <option value="Tita">Titanium</option>
            <option value="Dia">Diamond</option>
            <option value="Gold">Gold</option>
            <option value="Cop">Copper</option>
            <option value="Ber">Beryl</option>
            <option value="Tun">Tungsten</option>
            <option value="Cor">Corundum</option>
            <option value="Qua">Quartz</option>
            <option value="Alu">Aluminum</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text">Percent</span>
          </div>
          <input type="number" step="any" min="0" max="100" class="form-control" placeholder="Enter a percentage..."
            aria-label="Mass" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Mineral 4</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option>Select...</option>
            <option value="Bex">Bexalite</option>
            <option value="Tar">Taranite</option>
            <option value="Bor">Borase</option>
            <option value="Lar">Laranite</option>
            <option value="Agri">Agricium</option>
            <option value="Heph">Hephaestanite</option>
            <option value="Tita">Titanium</option>
            <option value="Dia">Diamond</option>
            <option value="Gold">Gold</option>
            <option value="Cop">Copper</option>
            <option value="Ber">Beryl</option>
            <option value="Tun">Tungsten</option>
            <option value="Cor">Corundum</option>
            <option value="Qua">Quartz</option>
            <option value="Alu">Aluminum</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text">Percent</span>
          </div>
          <input type="number" step="any" min="0" max="100" class="form-control" placeholder="Enter a percentage..."
            aria-label="Mass" aria-describedby="basic-addon1">
        </div>
        <button class="btn btn-info" type="submit">Calculate</button>
      </form>

    </div>
    <div class="col-4"></div>
  </div>
</div>